// Post SCSS for the theme.

body{
    background-color: #f7f7f7;
}
.btn, .btn-large, .btn-floating{
    letter-spacing: .5px;
    transition: .3s ease-out;
    -webkit-font-smoothing: antialiased;
}
.btn-primary:hover{
    background: $oppia-light;
}

#page .btn:not(.p-a-0), #page .btn-large, #page .btn-floating, .submitbuttons .btn{
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    outline: 0;
    border:none;
    font-size: 14px;
    border-radius: 2px;
    line-height: 36px;
    padding: 0 1rem;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;

    &:hover {
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    }
}

button[data-action="toggle-drawer"]{
    background: transparent;
    border: none;
    font-size: 1.2em;
    color: #fff;
    margin-right: 0 !important;
}
button[data-action="toggle-drawer"]:hover{
    background: $oppia-light;
}
header.navbar{
    background-color: $oppia-mid;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border-bottom: none;
    a.dropdown-toggle{ color:#fff; }
    .nav-link > .icon{ 
        background: $oppia-lighter;
        padding: 6px;
        margin-top: -3px;
        border-radius: 100%;
    }
}

