// Post SCSS for the theme.

body{
    background-color: #f7f7f7;
}
.btn, .btn-large, .btn-floating{
    letter-spacing: .5px;
    transition: .3s ease-out;
    -webkit-font-smoothing: antialiased;
}
.btn-primary:hover{
    background: $opendeliver-light;
}

#page .btn:not(.p-a-0), #page .btn-large, #page .btn-floating, .submitbuttons .btn{
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    outline: 0;
    border:none;
    font-size: 14px;
    border-radius: 2px;
    line-height: 36px;
    padding: 0 1rem;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;

    &:hover {
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    }
}

.dropdown-menu, .popover-region-container{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0, 45, 0, 0.2);
}
.popover-region-messages, .popover-region-notifications{ margin-top: -0.2rem; }
.dropdown-item{
    transition: .4s ease-out;

    &:hover a{
        color: $opendeliver-mid;
        text-decoration: none;
    }
}
#page-site-index {
    .page-header-headings{ display: none; }
    #page-header .card-block { padding-top: 0.8rem;  }
    &.notloggedin #page-header .card-block{ display: none; }
}
.site-name{ margin-left:0.4em; }
.course_category_tree .category > .info > .categoryname{ padding: 8px 18px; }
h3.categoryname, h4.categoryname{ 
    border-bottom: 1px solid #efefef;
    transition: 700ms all;
    &:hover{
        background-color:#efefef;
    }
}
h3.categoryname{ font-size: 1.45rem; }
h4.categoryname{ font-size: 1.35rem; }
.numberofcourse::first-letter{ color:#ff0000; }
.numberofcourse{
    font-size: .875rem;
    background-color: #888;
    padding: 3px 6px 3px 3px;
    color: #fff;
    margin-left: 9px;
    border-radius: 6px; }
#frontpage-category-names h2{     
    font-size: 1.15em;
    text-transform: uppercase;
    font-weight: bolder;  
}
button[data-action="toggle-drawer"]{
    background: transparent;
    border: none;
    font-size: 1.2em;
    color: #fff;
    margin-right: 0 !important;
}
button[data-action="toggle-drawer"]:hover{
    background: $opendeliver-light;
}
header.navbar{
    background-color: $opendeliver-mid;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border-bottom: none;
    a.dropdown-toggle{ color:#fff; }
    .nav-link > .icon{ 
        background: $opendeliver-lighter;
        padding: 6px;
        margin-top: -3px;
        border-radius: 100%;
    }
}

[data-region="drawer"]{
    padding: 0;
    .m-t-1{ 
        margin-top: 0 !important;
        padding-top: 0.2rem;
        background-color: $opendeliver-light;
    }
    .m-t-1:last-child{
        box-shadow: 0 3px 8px -1px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 767px){
    [data-region="drawer"]{
        box-shadow: 7px 0 25px rgba(0, 0, 0, 0.35);
    }
}

.list-group-item{
    border:none;
    padding: 0 1.25rem;
    margin-bottom: 0;
    transition: .4s ease-out;

    &:hover{ color: $opendeliver-mid; }
    &:first-child, &:last-child { border-radius: 0;  }
    & :last-child .m-l-0 { border-bottom-color: #fff; }
}
.m-l-0{
    padding: 0.95rem 0;
    border-bottom: 1px solid #ddd;
}
.usermenu .login a{ color: #fff; }
h3.coursename{ font-size: 1.2rem; }
#page-header{
    .card{
        background: none;
        border:none;
    }
    .card-block{
        padding: 0;
        padding-top:1.7rem;
    }
    .dropdown-toggle > .icon{ height: 32px; }
}
.block-region .card{
    border:none;
    border-radius: 2px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
.navbar-light .navbar-brand.has-logo{ 
    padding-top: 0; 
    color: #fff;
    transition: all 700ms;
    &:hover {
        color: $opendeliver-lighter;
    }
}
.navbar-light .navbar-nav .nav-link{
    padding-top: .6rem;
}
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .open > .nav-link,
.navbar-light .navbar-nav .open > .nav-link:hover{
    color: #fff !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "";
    display: none;
}
.breadcrumb{
  display: inline-block;
  padding: 0;
  li{
    margin-bottom: 3px;
    a{
      display: inline-block;
      background: $breadcrumb;
      text-decoration: none;
      position:relative;
      height: 24px;
      line-height:24px;
      padding: 0 10px 0 5px;
      text-align: center;
      margin-right: 11px;
      font-size: 13px;
      color:#555;
      transition: .3s ease-out;
    }
    &:nth-child(even){
      a{
        background-color: $breadcrumb-even;
        
        &:before{
          border-color:$breadcrumb-even;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:$breadcrumb-even;
        }
      }
    }
    &:first-child{
      a{
        padding-left:15px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        &:before{
          border:none;
         }
      }
    }
    &:last-child{
      a{
        padding-right:15px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        &:after{
          border:none;
         }
      }
    }
    
    a{   
      &:before,
      &:after{
        content: "";
        position:absolute;
        top: 0;
        border:0 solid $breadcrumb;
        border-width:12px 6px;
        width: 0;
        height: 0;
        transition: .3s ease-out;
      }
      &:before{
        left:-9px;
        border-left-color:transparent;
      }
      &:after{
        left:100%;
        border-color:transparent;
        border-left-color:$breadcrumb;
      }
      &:hover{
        background-color: $breadcrumb-hover;
        color:#fff;
        
        &:before{
          border-color:$breadcrumb-hover;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:$breadcrumb-hover;
        }
      }
    }
  }
}