// Pre SCSS for the theme.

$card-bg: rgba(255, 255, 255, 0.98);

$oppia-lighter: #c1e552;
$oppia-light: #9aca3c;
$oppia-mid: #689e3a;
$brand-primary: $oppia-mid !default;

$breadcrumb: #ececec;
$breadcrumb-even: #e3e3e3;
$breadcrumb-hover: $oppia-light;